:root{
    --branco-principal: #FFFFFF;
    --botao-azul: #167BF7;
    --cor-de-funco: #000000;
    --font-principal: 'inter';
    --font-secundaria: 'Open Sans';
    --botao-azul-efeito: #3d93fd;
}

body{
    background-color: var(--cor-de-funco);
    color: var(--branco-principal);
    font-family: var(var(--font-principal));
    font-size: 15px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/net.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: right;
    background-position-y: top;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 7px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    margin: 5em 0 0 0; 
}

.container__aviso{
    font-size: 12px;
    margin-top: 0,5em;
}

.container__titulo{
    font-size: 40px;
    font-weight: 700;
}

.container__imagemfogo{
    margin: 1em 0 1em 0;
    width: 50px;
    height: 50px;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 100%;
}

.descricao__titulo{
    font-size: 50px;
    align-items: center;
    text-align: center;
    margin: 4em 10px 10px 10px;
}

.descricao__texto{
    text-align: center;
    margin: 5px 20px 0 20px;
}
.descricao__texto2{
    margin: 1px 3em 1px 3em;
    align-items: center;
    text-align: center;
}
.imagem__celular{
   align-items: center;
   margin-left: 4em;
}

.secundario__botao{
    display: inline-block;
    align-items: center;
    font-size: 20px;
    margin-left: 25em;
    margin-top: 3em;
}

.descricao__titulo2{
    font-size: 50px;
    align-items: center;
    text-align: center;
    margin: 2em 10px 10px 10px;
}

.ultimoaviso{
    font-family: var(--font-secundaria);
    text-align: center;
    color: var(--branco-principal);
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    color: var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover {
    color: var(--botao-azul)
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-funco);
}